
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=IBM+Plex+Mono:wght@200&display=swap');
body {
    background: #E2DDCC;
    font-family: Be Vietnam Pro;
}
p{
    font-family: Be Vietnam Pro;
}
header {
    display: flex;
    flex-direction: row;
    padding: 50px;
    font-family: Be Vietnam Pro;
}
a:link {
	text-decoration: none;
	color: #2B2B2B;
	z-index: 1;

}
a:visited {
	text-decoration: none;
	color: #2B2B2B;
	z-index: 1;
}
a:hover {
	text-decoration: none;
	color: #2B2B2B;
	z-index: 1;
}
a:active {
	text-decoration: none;
	color: #2B2B2B;
}
.navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 62px;
    border-radius: 45px;
    background: #E8E8E8;
}
.navbtn {
    width: 150px;
    height: 62px;
    border-radius: 45px;
    border: none;
    background: none;
    font-size: 16px;
    font-family: Be Vietnam Pro;
}
.navbtn:hover {
    transform: translateY(-2px);
}
#navbtnativo {
    background: #363636;
    color: #fff;
}
.divadm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 640px;
    margin-top: 15px;
    height: 40px;
    width: 140px;
    background: #E8E8E8;
    text-align: center;
    border-radius: 30px;
}
.btnproduto {
    margin-top: -65px;
    width: 230px;
    height: 230px;
    border-radius: 40px;
    background: #f2f2f23d;
    box-shadow: 5px 5px 20px 6px rgba(0, 0, 0, 0.25), -15px -15px 20px 0px rgba(255, 255, 255, 0.25);
    border: none;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnproduto:hover {
    transform: translateY(-2px);
}
img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
.nomeproduto {
    margin-top: -5px;
    font-family: Be Vietnam Pro;
}
.produto {
    margin: 80px;
    width: 15%;
}
.produtodetalhado {
    margin: 80px;
}
.produtodetalhado {
    width: 300px;
    height: 450px;
    border-radius: 40px;
    background: #f2f2f23d;
    box-shadow: 5px 5px 20px 6px rgba(0, 0, 0, 0.25), -15px -15px 20px 0px rgba(255, 255, 255, 0.25);
    border: none;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divbotoes {
    display: flex;
    flex-direction: row;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #000;
font-family: IBM Plex Mono;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0px;
margin-top: 20px;
}
footer {
    display: flex;
    width: 600px;
    background: #E8E8E8;
    height: 62px;
    border-radius: 45px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: Be Vietnam Pro;
}
th {
    background: #F2F2F2;
}
.listaprodutos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#idproduto {
    background-color: none;
    border: none;
    color: #E2DDCC;
}
#alterarbtn {
    width: 70px;
    height: 30px;
    border-radius: 45px;
    border: none;
    background: none;
    font-size: 16px;
    font-family: Be Vietnam Pro;
}
#excluirbtn {
    width: 70px;
    height: 30px;
    border-radius: 45px;
    border: none;
    background: none;
    font-size: 16px;
    font-family: Be Vietnam Pro;
}
#alterarbtn:hover {
    background: #363636;
    color: #fff;
}
#excluirbtn:hover {
    background: #363636;
    color: #fff;
}
.inserirprodutosdiv {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 430px;
    background-color: #f2f2f2;
    margin-bottom: 80px;
    margin-top: 30px;
    border-radius: 40px;
    box-shadow: 5px 5px 20px 6px rgba(0, 0, 0, 0.25), -15px -15px 20px 0px rgba(255, 255, 255, 0.25);
    
}
.formularioinserir {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
}
h3 {
    align-self: center;
    margin-top: 40px;
    margin-bottom: 0px;
}
label {
    margin-top: 15px;
    margin-left: 5px;
    color: #2B2B2B;
    margin-bottom: -15px;
}
.labelinferior {
    margin-left: 10px;
    margin-top: -40px;
    font-size: 12px;
    color: #E2DDCC;
}
input {
    height: 28px;
    background: #E8E8E8;
    border: none;
    border-radius: 20px;
}
input [type="file"] {
    display: none;
}
.customfile {
    display: inline-block;
    border: none;
    background-color: #2B2B2B;
}
input:focus {
    outline: none;
}
#btninserir {
    align-self: center;
    width: 150px;
    height: 40px;
    border-radius: 45px;
    border: none;
    background: #E8E8E8;
    font-size: 16px;
    font-family: Be Vietnam Pro;
    margin-top: 30px;
}
#btninserir:hover {
    background: #363636;
    color: #fff;
}
.divtable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 680px;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 20px 6px rgba(0, 0, 0, 0.25), -15px -15px 20px 0px rgba(255, 255, 255, 0.25);
    border-radius: 40px;
    margin: 80px;
}
.tabela {
    margin: 30px;
}
th {
    font-weight: lighter;
    background: #F2F2F2;
    border: none;
    height: 50px;
    padding: auto;
    border-radius: 10px;
}
#thnome {
    width: 100px;
}
#thfone {
    width: 150px;
}
#thprod {
    width: 240px;
}
td {
    padding-left: 5px;
    border-radius: 15px;
    color: #2B2B2B;
    padding: 5px;
}
tr {
    background-color: #E2DDCC;
    height: 40px;
}
tr:nth-child(even){
    background-color: #E8E8E8;
}
